nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar-toggler {
  background-color: #92bfe9;
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  text-align: right;
}

footer {
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  align-self: end;
  width: 100%;
  background-color: #92bfe9;
  z-index: 5;
}

.headerLinks {
  padding: 1em;
}

.footerLinks {
  padding: 1em;
  color: black;
}

#donutPic {
    height: calc(1.375rem + 1.5vw);
}

h1 {
    text-align: left;
    padding-left: .25em;
    font-family: Garamond, serif;
    font-size: calc(1.375rem + 1.5vw)
}

.donutHeader {
    display: flex;
    background-color: #92bfe9;
    padding: 1em;

}

.navbar-collapse {
    flex-grow: 0;
    margin-right: -1em;
    align-items: right;
}

.navbar {
    background-color: #92bfe9;
}

header {
    margin: 0 auto;
    width: 100%;
}

.spacing {
    margin-left: 5em;
    margin-right: 5em;
  }