.App {
  text-align: left;
  margin: 0 auto;
  width: 100%
}

.accordionNewPlayerPage {
  color: black;
  background-color: black;
  margin-top: 2.5em;
}

.form-control:disabled {
  background-color: white;
}

.accordion-button {
  border: solid thin;
  font-weight: bolder;
}
.accordion-body {
  background-color: #f3e3c7;
  border: solid thin;
}

.firstHeading {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.abilitySliders {
  margin-top: 1.5em;
  justify-content: center;
  margin-bottom: 1.5em;
}

.col > div {
  text-align: center;
}
.col > div > .form-control{
  text-align: center;
}

.skillColumn  {
margin-bottom: 1em;
}

.resourcesAccordion {
  margin-top: 2.5em;
}

.homeSection {
  margin-bottom: 2em;
}

#donutWarrior {
  margin-top: 5em;
  border: solid thin;
  border-radius: 4em;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.zoom {
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}

.homeLink {
  text-decoration: none;
  color: black
}

.genHeading {
  text-align: center;
  margin-bottom: 3em;
}

.genContainer {
  background-color: #f3e3c7;
  padding: 2em;
  border: solid thin;
  border-radius: .5em;
  margin: auto;
  max-width: 70%;
}

.newPlayerSection {
  margin-bottom: 2em
}